<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active text-center mb-3">
      <img src="assets/home1.jpg" class="d-block w-100 img-fluid" alt="home">
    </div>
    <div class="carousel-item text-center mb-3">
      <img src="assets/home2.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item text-center mb-3">
      <img src="assets/home3.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev bg-light" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next bg-light" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<h1 class="text-center font-weight-bold text-info ">Electronics</h1>

<div class="mb-3 d-flex justify-content-center align-items-center gap-3">
  <div class="form-group">
    <label for="search" class="form-label text-info">Filter by name:</label>
    <input type="text" class="form-control" [(ngModel)]="listFilterValue" placeholder="Search" />
  </div>

  <div class="form-group">
    <label for="search" class="form-label text-info">Filter by price:</label>
    <input type="number" class="form-control" [(ngModel)]="listFilterPrice" placeholder="Search" />
  </div>
</div>

<!-- secion for button to hide all imgs  -->
<div class="">
  <!-- event binding -->

  <button (click)="toggleImgs()" class="btn btn-primary text-center">Show Images</button>

</div>

<!-- child -->
<products-list [listFilterValue]="listFilterValue" [listFilterPrice]="listFilterPrice" [toggleImgs]="showImgs"
  (addPrdsEvent)="addFunProd($event)"></products-list>


<!-- table to show  Cart -->

@if (cart.length > 0) {
<table class="table align-middle mb-4 bg-white">
  <thead class="bg-light">
    <tr>
      <th>
        <i class="fas fa-user"></i>
        Name
      </th>
      <th>
        <i class="fas fa-shopping-cart"></i>
        numOnCart
      </th>
      <th>
        <i class="fas fa-money-bill-wave"></i>
        Old price
      </th>
      <th>
        <i class="fas fa-dollar-sign"></i>
        Discount
      </th>
      <th>
        <i class="fas fa-balance-scale"></i>
        price
      </th>
      <th>
        <i class="fas fa-balance-scale"></i>
        Total price
      </th>


      <th>
        <i class="fas fa-cog"></i>
        Action
      </th>

    </tr>
  </thead>
  <tbody>



    @for (product of cart;track product.ID) {
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img [src]='product.img' alt="" style="width: 45px; height: 45px" class="rounded-circle" />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{product.name}}</p>
            <p class="text-muted mb-0">{{product.material}}</p>
          </div>
        </div>
      </td>
      <td>
        {{product.numOnCart}}
      </td>
      <td>
        {{product.price}}
      </td>


      @if (product.Discount !== "No Discount") {
      <td>
        {{product.discount}}
      </td>
      <td>
        {{product.price | calcDiscount: +product.discount| currency:'USD'}}
      </td>
      <td>
        {{product.price * product.numOnCart | calcDiscount: +product.discount| currency:'USD'}}
      </td>
      } @else {
      <td>
        {{product.discount}}
      </td>
      <td>
        {{product.price | currency:'USD'}}
      </td>
      <td>
        {{product.price * product.numOnCart | currency:'USD'}}
      </td>
      }

      <td>
        <button class="btn btn-danger" (click)="removeFromCart(product.ID)">
          <i class="fas fa-trash"></i>
          Remove
        </button>

      </td>


    </tr>

    }
  </tbody>
</table>
<p>
  <!-- Total price: {{calcTotal() | currency:'USD'}} -->
</p>
} @else {
<h3 class="text-center">
  No products in cart
  <i class="fas fa-shopping-cart"></i>
</h3>
}

